<footer class="mg-footer">
    <div class="mg-footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="widget">
                        <h2 class="mg-widget-title">Contact US</h2>
                        <strong>Crowd Valley</strong><br>
                        <div class="row">
                            <div class="col-md-4">
                                <address>
                                    One Market Plaza, Spear Tower<br>
                                    San Francisco, CA 94105<br>
                                    UNITED STATES<br>
                                </address>
                                <p>
                                    +1 (415) 580 0087<br>
                                </p>

                                <p>
                                    sales[at]crowdvalley.com
                                </p>
                            </div>
                            <div class="col-md-4">
                                <address>
                                    1 Ropemaker Street, Moorgate<br>
                                    London<br>
                                    UNITED KINGDOM<br>
                                </address>
                            </div>
                            <div class="col-md-4">
                                <address>
                                    3905 Two Exchange Square<br>
                                    8 Connaught Place<br>
                                    HONG KONG<br>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="mg-widget-title">Social Media</h2>
                        <ul class="mg-footer-social">
                            <li><a href="https://www.facebook.com/CrowdValley" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/crowdvalley" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+Crowdvalley" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="http://news.crowdvalley.com/" target="_blank"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-copyright">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <ul class="mg-footer-nav">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('about') }}">About</a></li>
                        <li><a href="http://news.crowdvalley.com" target="_blank">Blog</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>&copy; 2016 <a href="http://www.crowdvalley.com">Crowd Valley</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>